#font{
	font-family: 'Anton', sans-serif;
} 
.section{
	width: 100%;
	height: 695px;
	background: url('assets/wlift.jpg');
	background-size: cover;
}
.overlay{
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}
.display-1{
	margin-top: 10%;
}
#btn{
	display: block;
	max-width: 300px;
	margin: auto;
	margin-top: 20px;
}
hr{
	height: 1px;
	width: 10%;
	background-color: red;
}
#card{
	background-color: #01CBC6;
}
#this{
	height: 256px;
	width: 256px;
	marker-right:150px;

}

#chere{
	background-color: #1C2331;
}

#para{
	color: white;
}
#black{
	background-color: #1c2331;

}
footer{
	background: rgba(28 ,35,49);
	
}
#white{
	color: white;
}
.end{
	background: rgba(22, 28, 39, 0.3);
}
#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
.fb-ic .fab.fa-facebook-f:hover{
	font-size:1.4em;
  transition: .3s ease-out;
}
.tw-ic .fab.fa-twitter:hover{
	font-size:1.4em;
  transition: .3s ease-out;
}
.gplus-ic .fab.fa-google-plus-g:hover{
	font-size:1.4em;
  transition: .3s ease-out;
}
.li-ic .fab.fa-linkedin-in:hover{
	font-size:1.4em;
  transition: .3s ease-out;
}
.ins-ic .fab.fa-instagram:hover{
	font-size:1.4em;
  transition: .3s ease-out;
}